.quotation-group {
  padding-bottom: 5%;
  border: thin solid #DCDCDC;
  border-radius: 10px;
}

.quote {
  color: #CF3A3A;
  font-family: Roboto, sans-serif;
}

.author {
  color: #EE3E80;
  font-family: 'Inknut Antiqua', serif;
  font-style: italic;
}

button {
  margin-top: 10%;
  width: 100%;
}

footer {
  margin-top: 5%;
}
